modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[nix]
channel = "stable-25_05"
packages = ["psmisc"]

[[ports]]
localPort = 3333
externalPort = 4200

[[ports]]
localPort = 5174

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 22509
externalPort = 3000

[[ports]]
localPort = 24902
externalPort = 3001

[agent]
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
