modules = ["nodejs-20"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 22509
externalPort = 3000

[[ports]]
localPort = 24902
externalPort = 3001

[agent]
expertMode = true
